#displaydice{
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}

#main{

    text-align: center;
}

.instructions{
	float: right;
}


.h1{
	color: gold
}
.h4{
	color: brown
}
.pig{
	text-align: center;
	color: gold;
background-color: purple;
height: 40px;
padding: 53px;
}

.play{
	text-align: center;
background-color: pink;
height: 90px;
padding: 53px;
}

.image {
    /*top: 30%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;*/
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
